.talk-card i {
  color: #d371dd;
}
.our-love i{
  color: rgb(201, 102, 132);
}
.our-love p:first-child{
  color: rgb(240, 69, 69);
  font-weight: 5000;
}
.our-love p:nth-child(2){
  color: rgb(243, 19, 194);
}
.our-love p:nth-child(3){
  color: rgb(235, 111, 148);
}
.our-love p:nth-child(4){
  color: rgb(199, 104, 183);
}
.our-love p:nth-child(5){
  color: rgb(82, 196, 231);
}
.our-love p:nth-child(6){
  color: rgb(250, 29, 0);
}
h3 {
  text-align: center;
  margin: 4rem 0 8rem 0;
}

body {
  padding: 0;
  margin: 0;
}

.container-talk {
  padding-top: 3%;
  overflow: hidden;
}

.talk li {
  width: 80%;
  height: auto;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  margin-left: 10%;
  list-style: none;
  margin-bottom: 5rem;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  display: flex;
}

.talk li:hover {
  border-radius: 10px;
  transform: scale(1.02);
  transition: all 0.6s ease-in-out;
}

.head>img {
  width: 46px;
  width: 46px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  transition: 2s all;
}

.head img:hover {
  transform: rotate(360deg);
}

.content-talk img {
  width: 100%;
  border-radius: 10px;
  max-height: 200px;
}

.content-talk {
  width: 100%;
  padding: 2rem 1rem;
  border-left: 1px dashed #e1a3d6;
}

.content-time {
  border-top: 1px dashed rgb(112, 178, 204);
  height: 30px;
}

/* 日期 */
i.fa.fa-clock-o {
  float: right;
  margin-top: 2rem;
}

/* 每日一言 */
.day-word {
  margin: 4rem 10%;
  width: 80%;
  box-shadow: 0 0 1px #ccc;
  border-radius: 5px;
}

.day-word .innerlinkcat {
  border: none;
  text-align: center;
}

.innerlinkcat>p {
  font-size: 1.3em;
  margin-top: 0;
  padding-bottom: 1rem;
}

#hitokoto {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  color: transparent;
}